<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<!-- Spring Bean Configuration File, 
typically named beans.xml or context.xml
Here, we hold configuration for our beans (classes
managed by the spring container), and the container
itself (what modules will it use, where should it 
look for annotations, and more) -->

<!--                          Bean configuration with XML                           -->

	<bean id="thisIsABean" class="com.revature.hello.HelloSpring">
		<property name="message" value="This is dependency injection! Welcome to Spring!" />
	</bean>

</beans>
