<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
  <div class="main-content">
    <div class="container mt-7">
      <!-- Table -->
      <h2 class="mb-5">Profile:</h2>
      <div class="row">
        <div class="col-xl-8 m-auto order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="https://thumbs.dreamstime.com/b/beautiful-young-black-woman-enjoying-music-headphones-dancing-131529245.jpg" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <div class="d-flex justify-content-between">
                <a href="/artist" class="btn btn-sm btn-info mr-4">Search For Songs</a>
                <a href="/profilelist" class="btn btn-sm btn-default float-right">View Other's Playlist</a>
              </div>
            </div>
            <div class="card-body pt-0 pt-md-4"  >
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Songs</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Likes</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{user.firstName}} {{user.lastName}}<span class="font-weight-light">, 27</span>
                </h3>
                <div class="h5 font-weight-300">
                  <i class="ni location_pin mr-2"></i>Bucharest, Romania
                </div>
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4">
               <!-- accordion -->
                
                <!-- playlist section below -->

                <table class="table table-hover" >
                    <thead>
                    <h4>Playlist</h4>
                    <h3>Playlist Name: <b style=" text-transform: uppercase;
">{{name}}</b></h3>
                    <tr>
                      <th>Song</th>
                      <th>Artist</th>
                      <th>Album</th>
                      <th>Preview Song</th>
                    </tr>
                    </thead>
                
                    <tr   *ngFor="let t of lsttrk">
                      <!--<td><img src="{{t.album.cover}}" alt=""></td>-->
                      <td>{{t.title}}</td>
                      <td>{{t.artist.name}}</td>
                      <td>{{t.album.title}}</td>
                      <td> <a class="col-12" href={{trk.preview}}>Preview</a></td>
                    </tr>
                  </table>

              </div>
              <app-comments></app-comments>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer class="footer">
    <div class="row align-items-center justify-content-xl-between">
      <div class="col-xl-6 m-auto text-center">
        <div class="copyright">
          <p>DHAL Music Copyright</p>
        </div>
      </div>
    </div>
  </footer>
</body>
