body {
    background-color:blue;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dot2 {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } 

.dot3 {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } 
  .dot4 {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  } 

  #move0 {
    margin: 0;
    position: absolute;
    top: 20%;
    left: 20%;
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%)  */
}

#move1 {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%)  */
}

#move2 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%)  */
}
#move3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    /* margin-right: -50%; */
    /* transform: translate(-50%, -50%)  */
}

 span {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
  }
  
  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }