<div class="page">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="navbar-brand">Welcome Back <span id="name"></span></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id=logOut>Log Out <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="addOpt" data-toggle="modal" data-target="#adding"> Add Reimbursement</a>
        </li>
      </ul>
      <div class="input-group mb-3 input-group-sm">
      <input class="input-group-text form-control" id="searchIn" placeholder="Search By Status:" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="searchBut" >Search</button>
      </div>

  </div>
</nav>


<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Change Status</th>
      <th scope="col">Ref. ID</th>
      <th scope="col">Amount</th>
      <th scope="col">Submit</th>
      <th scope="col">Resolved</th>
      <th scope="col">Description</th>
      <th scope="col">Employee</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col">Manager</th>
      <th scope="col">Nameid</th>

    </tr>
  </thead>
  <tbody id="reimTable">
  </tbody>
</table>



<div id="updating" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
<h4> Was the discovery worth the cost?</h4>
        
        </div>
    <div class="modal-body">
      
    <div class="input-group mb-3">
  
        <div class="btn-group-vertical"  id="myupdate">
            <button type="button" class="btn  btn-lg btn-block updateitem" value="2">So Worth It!</button>
            <button type="button" class="btn  btn-lg btn-block updateitem" value="3">Not quite</button>
          </div>
    </div>
      <div class="modal-footer">
          <button id="addBut" type="button" class="btn close" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal">
              Whew!
             </button>
      </div>
    </div>
  </div>
      </div>
    </div>
    
    
    
    </div>
   
    
       
      
      <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Money should be used to change the world</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn " data-dismiss="modal">Go Forth!</button>
            </div>
          </div>
        </div>
      </div>

