
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <input type="text" id="username" placeholder="Username" 
        class="form-control col-6">
    <input type="password" id="password" placeholder="Password" 
        class="form-control col-6">
        <button id="doLogin" class="btn btn-primary">Log In!</button>
        <span id = "message"></span>
        <br><i id="goToRegister">Need an account? Click here to register!</i>