img {
  vertical-align: middle;
  width: 35px;
}

.jumbotron {
  padding: 4rem 2rem;
  padding-top: 12px;
}

.table {
  width: 40%;
  margin-bottom: 1rem;
  color: #212529;
  font-size: small;
}

#popUpWindow{
  //background: lightblue;
}
