.table {
  width: 50%;
  margin-bottom: 1rem;
  color: #212529;
  font-size: small;
}

.table td, .table th {
  padding: 0.50rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.jumbotron {
  padding: 4rem 2rem;
  padding-top: 12px;
}

img {
  vertical-align: middle;
  width: 35px;
}
