

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
	integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	crossorigin="anonymous"></script>

<div style="background-image: url('http://inn.spb.ru/images/100/DSC100139143.jpg');width:100%;height:100%;background-repeat:repeat;">

<h1 style="text-align:center"><font color="Cyan"> WELCOME <span id="name"></span> To TRON TECHNICAL SOLUTIONS</font></h1>

<div class="container" style="background-color: green">
<h3 style="text-align:center" >Your Current Reimbursements</h3>
<table class="table table-hover">
	<thead>
		<tr>
			<th scope="col">Reimbursement ID </th>
			<th scope="col">Amount</th>
			<th scope="col">Submit Date</th>
			<th scope="col">Resolve Date</th>
			<th scope="col">Description</th>
			<th scope="col">Employee</th>
			<th scope="col">Manager</th>
			<th scope="col">Status</th>
			<th scope="col">Type</th>
		</tr>
	</thead>
	<tbody id="ReimDetails">
	</tbody>
</table>
</div>
<div class="jumbotron" style="text-align:justify; background-color: #AFEEEE">
<form class="form" id="NewReimb">
	<div class="form-group">
		<label for="amount">Amount</label> <input type="number" id="amount"
			placeholder="Amount">
	</div>
	<div class="form-group" style="text-align:justify;">
		<label for="description">Description</label> <input type="text"
			id="description" placeholder="Description">
	</div>
	<div class="form-group">
		<label for="type">Select Type</label> <select id="type">
			<option value="1">Travel</option>
			<option value="2">Equipment</option>
			<option value="3">Housing</option>
			<option value="4">Other</option>
		</select>
	</div>

</form>
<br>

<button id="create" class="btn btn-info">Submit Reimbursement</button>
</div>
<br>

</div>
