<meta charset="utf-8"/>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
	integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
	integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
	crossorigin="anonymous"></script>




<div   class="text-align: center, display: inline-block" style="background-image: url('http://www.kodul.cat/look/full/62/627911/cool-tech-wallpapers.jpg');width:100%;height:100%;background-repeat:repeat;">
	<div class="container" >
			<h1><font color="blue">
				<strong>Log In For Reimbursements Portal</strong>
			</h1>
			</div>
		<div class="jumbotron jumbotron-fluid" style ="background-color: #7FFFD4">	
		<div class = "container">
 	<input type="text" id="username" placeholder="Username" 
        class="form-control col-6">
    <input type="password" id="password" placeholder="Password" 
        class="form-control col-6">
        <button id="doLogin" class="btn btn-info">Log In!</button>
        <span id = "message"></span>
</div>
</div>
</div>
		