<div class="jumbotron">
<h1>About <a href="https://malcoded.com/posts/angular-data-binding/">Data Binding </a></h1>
<i>Angular supports data binding, which is a mechanism 
  for coordinating parts of a template(HTML) with parts 
  of a component (TS). We no longer use DOM element selection 
  with angular, we simply add binding markup to our template 
  HTML which will tell angular how to connect both sides
</i>
<hr>
<h3>Interpolation</h3>
<i>Interpolation is a way to display data from components
  in our templates, we can also use the same syntax for template
  expressions
</i>
A few examples:
<ul>
  <li> 2 + 2 = {{ 2 + 2 }} </li>
 <li> text from component: {{ text | uppercase }} </li>
 <li> Count = {{ count }}</li>
 <li> More math: {{19849823/9}}</li>
 <li> Using Math.random in TS file: {{someNum}}</li>
 <li> Expressions : {{ count > 0 ? 'count is greater than 0' : 'no its not'}} </li>
 <li> Current Date and time: {{currentTime | date: 'medium'}} </li>
 <li>Currency w pipe: {{ 19379823748 | currency }}</li>
 <li>Object with JSON pipe:<pre> {{ obj | json }}</pre></li>
</ul>

<h6>Some rules about template expressions, they cannot be used with the following:</h6>
<ul>
  <li>
    assignment operators (=, +=, -=, etc)
  </li>
  <li>operators such as new, typeof, instanceof</li>
  <li>chaining expressions with ; or ,</li>
  <li>increment (++) or decrement (--)
  </li>
  <li>no support for | & </li>
</ul>
</div>
<hr>
<h3>Event Binding</h3>
<i>The process of linking actions (methods) to events on DOM elements</i>
<ul>
  <li>This is one-way data binding</li>
  <li>Syntax for event binding is to include <pre><code>(event) = "function()"</code></pre> in your opening element tag</li>
</ul>
<br>
<b>Count: {{ count }} </b>
<button (click) = "incrementCount()">Increment!</button>
<br>
<hr>
<h3 [style.background-color] = "color">Property Binding</h3>
<i>This one-way data binding mechanism allows us to apply a property to a DOM element dynamically.
  An inpurtant note about property binding is that it is frequently used with attribute directives, 
  but it does not need to be. 
</i>
<ul><li>
  Property binding syntax is as follows: <pre><code>[property] = "value"</code></pre>
</li></ul>

<hr>
<h3>Two-Way Data Binding</h3>
<i>This binding is likely the most powerful data binding technique as it allows us to 
  take input from the user and immediately grab the data from the input field to be 
  used in our template
</i>
<input type="text" [(ngModel)]="color">
<input type="text" [(ngModel)] = "myName">
{{ myName }}