<head>
    <title id="manager"></title>
</head>

<div class="jumbotron" id="manhome">

    <div id="home">
        <h1>Manager Portal</h1>
        <h2>
            Welcome! <span id="manager"></span>
        </h2>
        <br>
        <h3>Below you can make any adjustments necessary</h3>
        <br> <br> <span id="message"></span>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Reimbursement Id</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Submitted</th>
                    <th scope="col">Resolved</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
                </tr>
            </thead>
            <tbody id="managerta">
            </tbody>
        </table>

        <button style="float: center;" class="btn btn-primary" id="logout"> Log Out</button>
        <button type="button" class="btn btn-success" id="update">Update Status</button>




        <div class="jumbotron" id="edit" class="center" hidden="true">



            <input type="text" id="reimbId" placeholder="ReimbursementId" class="form-control col-6">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Select Status
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#" value="2"> Approved</a>
                    <a class="dropdown-item" href="#" value="3"> Denied </a>
                     </div>
            </div>

            <br>
            <button id="editStatus" class="btn btn-primary">Submit!!</button>
            <span id="message2"></span>

        </div>



    </div>
</div>