<div class="jumbotron" id="reimb">
        <div id="home">
            <h2>
                Reimbursement Page <span id="employee"></span>
            </h2>
        
        
        
    
            
                <input type="text" id="amount"
                placeholder="Amount (eg. 99.98)" class="form-control col-2"> <input
                type="text" id="description" placeholder="Description (eg. Seminar)"
                class="form-control col-4"> <input type="text" id="type"
                placeholder="Category (eg. 30)" class="form-control col-2">
        
        
            <button class="btn btn-primary" id="addReimb"><i>Submit</i></button>
            <button class="btn btn-primary" id="viewPast">View History</button>
            <br> 
            <br>
            <button class="btn btn-primary" id="logout"><i>Logout</i></button>
            <br>
            <br>
            <h6>Categories</h6>
            <ul>
                <li>10 Food/Entertainment</li>
                <li>20 Travel</li>
                <li>30 Education</li>
                <li>40 Medical</li>
            </ul>
        </div>
        </div>