img {
  border-radius: 30%;
  vertical-align: middle;
  border-style: none;
  margin-top: 29px;
  margin-bottom: 10px;
}

button{
  margin-top:5px;
}


.container{
  margin-left: 2px;
}

html body .container{
}
