<h1 align="right">	Welcome, <span id="name"></span></h1>

 
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
<style>
      body{
          background: url(bluetruck.jpg) no-repeat !important;
  
      }
      </style> 
     <i id="goToLogin" style= "color: #022934" > Back to login</i>

<input type="text" id="myInput" class="Input" onkeyup="myFunction()" placeholder="Search by Author Id..">
   
  <table id="manTable" class="display" style="width:100%">
      <thead>
          <tr>
              <th scope="col">Reimb. Id</th>
              <th scope="col">Author</th>
              <th scope="col">Amount</th>
              <th scope="col">Submitted</th>
              <th scope="col">Resolved</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
          </tr>
      </thead>
      <tbody id="mTable">  
      </tbody>
  </table>
  
   <i id="statusText">Input for Status: 1: Approved 2: Denied</i>
  <input type="text" id="status" class="Input" placeholder="Status here...">
  
  
  
  