<h1 align="right">	Welcome, <span id="name"></span></h1>


<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

   <style>
    body{
        background: url(black&white.jpg) no-repeat !important;

    }
    </style>

<button id="doReimb" class="loginbtn">Add Reimbursement</button>


   
  <table id="example" class="display" style="width:100%">
      <thead>
          <tr>
              <th scope="col">Reimb. Id</th>
              <th scope="col">Amount</th>
              <th scope="col">Submitted</th>
              <th scope="col">Resolved</th>
              <th scope="col">Description</th>
              <th scope="col">Type</th>
              <th scope="col">Status</th>
          </tr>
      </thead>
      <tbody id="ersTable">  
      </tbody>
  </table>
    <i id="goToLogin"> Back to login</i>
  
  <!-- add button here to make add reimbursement -->
  
  