<h3>Understanding Directives</h3>

<h6>Angular <b>Directives</b> are special pre-built instructions
that typically render HTML code or provide additional functionality</h6>
<hr>
<p>There are three types of directives:</p>
<ul>
  <li><b>Custom Directives using the decorator <code>@Directive</code>.</b> - This is added to a TypeScript class. Furthermore, The @Component decorator is actually a special form of the @Directive decorator. In practice, you’ll use @Directive when creating your own custom directives. </li>
  <li><b>Structural Directives</b> - This will add/remove/or update 
    the contents of the DOM. It basically changes the webpage’s layout.
     <code>*ngFor</code> and <code>*ngIf</code> which we’ll explain 
     in a moment are common examples of structural directives. </li>
  <li><b>Attribute Directives</b> - The final form is an attribute 
    directive. An attribute directive will change the look and feel 
    or behavior of an element. Examples of attribute directives are 
    <code>ngModel</code>, <code>ngClass</code>, and <code>ngStyle</code>. 
    We cover ngModel in a separate video when we explain two-way 
    data-binding. Here, you’ll see usage of ngClass.</li>
</ul>
<br>
<hr>
<h5>*ngFor</h5>
<i>This directive is used to make an element of the designated type for every
  item in some sort of collection.
</i>

<ul>
  <li *ngFor="let myNum of numArr"> My number is {{ myNum }} </li>
</ul>
<br>

<h5>*ngIf</h5>
<i>This directive is used to hide or show a DOM element based on the truthy or 
  falsiness of the expression/variable it is set to
</i>
<br>
<b *ngIf="showIf">Show If is {{ showIf }} </b>


