<input type="text" id="amount" placeholder="amount" class="form-control col-2">
<input type="text" id="description" placeholder="description" class="form-control col-2">
 
<input list="typeIDNAME" name="typeIDNAME" id="type" placeholder="type" class="form-control col-2">
  <datalist id="typeIDNAME">
    <option value="1">Travel
    <option value="2">Banana
    <option value="3">Gru's Evil Machine of Doom
    <option value="4">Toys4Kids
    <option value="5">Food4Kids
    <option value="6">Housing
    <option value="7">Lab Bills
    <option value="8">Gru's Favorite Goods
    <option value="9">Other
  </datalist>
 










<button id="doAdd" class="btn btn-primary">Send New Reimbursement</button>
<span id="message"></span>

