<h1>Welcome, Thank you for all your hard work! -Gru</h1>

<!-- make table to display user accounts -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><button class="btn btn-primary" id="newREIM">Start new Reimbursement</button></th>
      <th scope="col"><button class="btn btn-primary" id="allCurReim">View Current Reimbursements</button></th>
      <th scope="col"><button class="btn btn-primary" id="logout">Logout</button></th>

      
    </tr>
  </thead>
  <tbody id="accountTable">
  </tbody>
</table>