<h1>Welcome, you are logged in as a manager!</h1>

<!-- make table to display user accounts -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><button class="btn btn-primary" id="newREIM">Start New Reimbursement!!</button></th>
      <th scope="col"><button class="btn btn-primary" id="allCurReim">View All reimbursements</button></th>
      <th scope="col"><button class="btn btn-primary" id="logout">Logout</button></th>
      
      
    </tr>
  </thead>
  <tbody id="accountTable">
  </tbody>
</table>