<h1>Here are all reimbursements! <span id="name"></span></h1>

<!-- make table to display user accounts -->
<div class="float-right">
<button id="logout" class="btn btn-primary">logout</button>
</div>


<div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Reimbursement ID</th>
       <th scope="col">Amount</th>
      <th scope="col">Date Submitted</th>
      <th scope="col">Date Resolved</th>
      <th scope="col">Description</th>
      <th scope="col">Receipt</th>
      <th scope="col">Started By</th>
      <th scope="col">Resolved by</th>
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      
    </tr>
  </thead>
  <tbody id="accountTable">
  </tbody>
</table>
</div>