
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span id="home" class="navbar-brand"><i>Welcome Back</i> </span><span id="name"></span></span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id=logOut>Log Out <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="addOpt" data-toggle="modal" data-target="#adding"> Add Reimbursement</a>
      </li>
    </ul>
    <div class="input-group mb-3 input-group-sm">
        <input class="input-group-text" id="searchIn" placeholder="Search:" >
        <button class="btn  btn-outline-warning my-2 my-sm-0" id="searchBut" >Search</button>

      </div>
  </div>
</nav>

<div class="border rounded" style="background-color:rgba(253, 251, 245, 0.88);">
<table class="table table-hover table-striped" style="table-layout:fixed">
  <thead>
    <tr>
      <th scope="col">Ref. ID</th>
      <th scope="col">Amount</th>
      <th scope="col">Submit       </th>
      <th scope="col">Resolved     </th>
      <th scope="col">Description              </th>
      <!-- <th scope="col"> Document </th> -->
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      <th scope="col-2">Resolver           </th>
    </tr>
  </thead>
  <tbody id="reimTable">
  </tbody>
 
</table>
</div> 


<div id="adding" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
<h3> Your experience was priceless</h3>

        
        </div>
    <div class="modal-body">
    <h4>Request a reimbusement anyway</h4>  
      <div class="input-group mb-3 input-group-lg">
    <input class="input-group-text form-control" type="number" id="amountP" placeholder="Enter Reimbursement Cost">
    <hr>
  </div>
    <div class="input-group mb-3 input-group-lg">
    <input class="input-group-text form-control" type="text" id="descrpP" placeholder="Briefly describe your experience">
    <hr>
  </div>
    <!-- <div class="input-group mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" placeholder="File" value="image/png" id="picP" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="picP" >Choose file</label>
          </div>
        </div> -->
    
      <hr>
      <div class="input-group mb-3">
        <select id="myselect" class="custom-select" >
          <option>Select type of reimbursment</option>
          <option value="10">Miscellaneous</option>
          <option value="1">Lodging</option>
          <option value="2">Food</option>
          <option value="3">Travel</option>
          <option value="4">Memberships</option>
          <option value="5">Makeup</option>
          <option value="6">Skin Care</option>
          <option value="7">Clothes</option>
          <option value="8">Acessories</option>
          <option value="9">Talent</option>
          
      </select></div>
      <hr>
    </div>
      <div class="modal-footer">
          <button id="addBut" type="button" class="btn close  btn-outline-warning" data-dismiss="modal" data-toggle="modal" data-target="#exampleModal">
              Add Reimbursement
             </button>
      </div>
    </div>
  </div>
      </div>
    </div>
    
    
    
    
   
    
       
      
      <div id="exampleModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close btn  btn-outline-warning" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Money is just paper! 
                Your efforts are changing the world!</p>
            </div>
            <div class="modal-footer">
              <button id="empAddRe" type="button" class="btn  btn-outline-warning " data-dismiss="modal">Go Forth!</button>
            </div>
          </div>
        </div>
      </div>
</div>