<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
<div id ="box1" class="container"  class="text-align: center, display: inline-block">


	
	<div class="row" >
		<div class="col-sm-10 col-sm-offset-2 text">
			<h1><font color="white">
				<strong>Log In For Reimbursements Portal</strong>
			</h1>
			<div class="description">
			<br>
				<h4><font color="white">
					This is<em> Riches Decor </em>Employee Portal. If you are a new
					employee please contact the IT Department for you login
					information.
				</h4></font>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 form-box">
			<div class="form-top">
				<div class="form-top-center">
					<p>Enter your username and password to log on:</p>
				</div>
				<div class="form-top-right">
					<i class="fa fa-key"></i>
				</div>
			</div>
			<div class="form-bottom">
 <input type="text" id="username" placeholder="Username" 
        class="form-control col-6">
    <input type="password" id="password" placeholder="Password" 
        class="form-control col-6">
        <button id="doLogin" class="btn btn-info">Log In!</button>
        <span id = "message"></span>


				</form>
			</div>
		</div>
	</div>
</div>