<h1 style="text-align:center"><font color="gold"> WELCOME <span id = "name"></span></h1>,

<div class="container">

<!-- make table to display user accounts -->

<table class="table table-hover"><font color="gold">
  <thead>
    <tr>
      <th scope="col">Reimbursement ID</th>
      <th scope="col">Amount</th>
      <th scope="col">Submit Date</th>
      <th scope="col">Resolve Date</th>
      <th scope="col">Description</th>
      <th scope="col">Employee</th> 
      <!-- <th scope="col">Boss</th>-->
      <th scope="col">Status</th>
      <th scope="col">Type</th>
      
    </tr>
  </thead>
  <tbody id="manTable">
  </tbody>
</table>

<!-- make table to display user accounts -->
<br>
<h4> Update Reimbursements</h4><br>
<input type="text" id="Status">
<h6>2 For Approve</h6><br>
<h6>3 For Deny</h6>
</font>
<br>
<br>
<button id="logout" class="btn btn-warning">Log Out!</button>
</div>
