form{
    margin: 0 auto;
    width:400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
nav {
    color:purple;
    font-size:26;
}
.main{
   border:1px; 
   background-color: blanchedalmond;
   width: 120%;
   max-width: 1200;
   display: inline-block;
   font-size: 15px;
}