.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

#exampleFormControlTextarea6{
  width: 38%;
  height: auto;

}


