<div class="jumbotron" id="manhome">
	<div id="home">
		<h1>Manager Portal</h1>
		<h2>
			Welcome! <span id="manager"></span>
		</h2>
		<br>
		<h4><i>Search:</i></h4>
		<button class="btn btn-primary" id="pending">
			<i>Pending</i>
		</button>
		<button class="btn btn-primary" id="approved">
			<i>Approved</i>
		</button>
		<button class="btn btn-primary" id="denied">
			<i>Denied</i>
		</button>
		<button class="btn btn-primary" id="all">
			<i>All</i>
		</button>
		<button style="float: right;" class="btn btn-primary" id="logout">
			<i>Logout</i>
		</button>
		<br> <br> <span id="message"></span>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Amount</th>
					<th scope="col">Submitted</th>
					<th scope="col">Resolved</th>
					<th scope="col">Description</th>
					<th scope="col">Author</th>
					<th scope="col">Resolver</th>
					<th scope="col">Status*</th>
					<th scope="col">Type</th>
				</tr>
			</thead>
			<tbody id="manTable">
			</tbody>
		</table>

<span><i>*Status: (1)Pending, (2)Approved,
				(3)Denied</i></span>
	</div>
</div>