
<div class="jumbotron" id="registerUserDiv">
	<h1>Employee Portal</h1>
	<h2>
		Welcome! <span id="employee"></span>
	</h2>



	<input type="text" id="id" placeholder="Employee ID"
		class="form-control col-6"> <input type="text" id="amount"
		placeholder="Amount" class="form-control col-6"> <input
		type="text" id="description" placeholder="Description"
		class="form-control col-6"> <input type="text" id="type"
		placeholder="Category" class="form-control col-6">


	<button class="btn btn-primary" id="addReimb">Submit
		Reimbursement</button>
	<button class="btn btn-primary" id="viewPast">View History</button>
	<br>
	<br>
	<h6>Categories</h6>
	<ul>
		<li>10 Food/Entertainment</li>
		<li>20 Travel</li>
		<li>30 Education</li>
		<li>40 Medical</li>
	</ul>

</div>
<!--
	

  	<input type="text" id="id" placeholder="Employee ID" class="form-control col-6"> 
	<input type="text" id="amount" placeholder="Amount" class="form-control col-6"> 
	<input type="text" id="description" placeholder="Description" class="form-control col-6"> 
	<input type="text" id="type" placeholder="Catagory" class="form-control col-6">

	<button class="btn btn-primary" id="addReimb">Submit
		Reimbursement</button>
	<button id="viewPast" class="btn btn-primary">View History</button>-->