<label>Select Reimbursement Type:</label>
             <select id="emptype">
               <option value = "100">Lodging</option>
               <option value = "200">Travel</option>
               <option value = "300">Food</option>
               <option value = "400">Education</option>
               <option value = "500">Supplies</option>
               <option value = "600">Medical</option>
               <option value = "700">Exams</option>
               <option value = "800">Entertain</option>
               <option value = "900">Other</option>
             </select>

<input type="text" id="edescription" placeholder="Description of Reimbursement Request" class="form-control col-12">

<input type="number" id="eamount" placeholder="Amount" class="form-control col-3">

<button id="doESubmit" class="btn btn-primary">Submit Request</button>