<h1>Welcome, <span id="name"></span></h1>

<!-- make buttons to display employee options -->

<button type="button" id="esubmit">Submit Request</button>

<button type="button" id="epast">Past Tickets</button>

<button type="button" id="epending">Pending Requests</button>

<button type="button" id="logout">Logout</button>
<!-- make table to display user accounts -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Reimb. Id</th>
      <th scope="col">Reimb. Amount</th>
      <th scope="col">Resolver First Name</th>
      <th scope="col">Resolver Last Name</th>
      <th scope="col">Reimb. Submitted</th>
      <th scope="col">Reimb. Resolved</th>
      <th scope="col">Reimb. Description</th>
      <th scope="col">Reimb. Receipt</th>
      <th scope="col">Reimb. Type</th>
      <th scope="col">Reimb. Status</th>
      <th scope="col">Reimb. Author</th>
      <th scope="col">Reimb. Resolver</th>
    </tr>
  </thead>
  <tbody id="accountTable">
  </tbody>
</table>