<input type="text" id="reimbDescription" placeholder="Reimbursement Description" 
class="form-control col-6">
<input type="number" id="reimbAmount" placeholder="Reimbursement Amount" 
class="form-control col-6">
<input type="number" id="reimbId" placeholder="your employee ID#" 
class="form-control col-6">
 <select  id="reimbTypeId">
    <option value="1">Supplies</option>
    <option value="2">Education</option>
    <option value="3">Travel</option>
    <option value="4">Gifts</option>
  </select>

<button id="submitAdd" class="btn btn-warning">Submit!</button>