<!-- all input fields for user, and submit button -->
<div class="jumbotron" id="registerUserDiv">
	<input type="text" id="firstName" placeholder="First Name"
		class="form-control col-6"> 
	
	<input type="text" id="lastName" placeholder="Last Name"
		class="form-control col-6">
		
	<input type="text" id="username"
		placeholder="Username" class="form-control col-6"> 
		
	<input type="text" id="email"
		placeholder="Email" class="form-control col-6">
		
	<input	type="password" class="form-control col-6" id="password"
		placeholder="password"> 
		
	<button class="btn btn-primary" id="addUser">Add User!</button>
	<span id="goToLogin"><i>Back to Login...</i></span>

</div>
