<h1>Welcome, <span id="name"></span></h1>

<!-- make table to display manager view(to display all accounts) -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">UserId</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Reimb_Id</th>
      <th scope="col">Amount</th>
      <th scope="col">Sub_Date</th>
      <th scope="col">Res_Date</th>
      <th scope="col">ResolverId</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody id="manageraccountInfo">
  </tbody>
</table>


<button id="doEdit" class="btn btn-primary">Edit Status!</button>

