<h1>Revature Employee Reimbursement Portal</h1>

<h3>Welcome, <span id="name"></span></h3>

<!-- make table to display user accounts -->
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">UserId</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Reimb_Id</th>
      <th scope="col">Amount</th>
      <th scope="col">Sub_Date</th>
      <th scope="col">Res_Date</th>
      <th scope="col">ResolverId</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody id="accountInfo">
  </tbody>
</table>


 <button id="goToReimb" class="btn btn-primary">Add New Reimbursement!</button>
 
 



